# Python compiled file extensions
*.pyc
*.pyo

# Secret Settings file
/dkcloud/dkcloud/secrets.py

# Collected Static Files
/static/

# Backup files
*.backup

# Cache files
__pycache__/

# Migrations
*migrations/

# IDE Files
/.idea

# Sass Cache
.sass-cache/
