{% extends "main/base.html" %}

{% block content %}
<section class="section">
	<div class="aside-container">
	<aside class="aside">
		<h2>Tools</h2>
		<ul>
			<li><form><input type="text" placeholder="text box"></form></li>
			<li><form><input type="color"></form></li>
			<li><form><input type="range"></li>
			<li><form><input type="submit" value="button"></li>
		</ul>
	</aside>
	<aside class="aside">
		<h2>Tips</h2>
		<ul>
			<li><a href="#">Tip 1</a></li>
			<li><a href="#">Tip 2</a></li>
			<li><a href="#">Tip 3</a></li>
			<li><a href="#">Tip 4</a></li>
			<li><a href="#">Tip 5</a></li>
		</ul>
	</aside>
	</div>
	<div class="article-container">
	<article class="article">
		<h2>First Post</h2>
		<p>This is the first post. I hope you enjoy it because it is awesome, and probably longer than what is needed to convey the information in it (very meta).</p>
		<p>This is the second paragraph in this post, it is for your enjoyment much like the first!</p>
	</article>
    </div>
</section>
{% endblock %}